# Solution and project files are created by rtidddsgen
*.sln
*.vcxproj

# Java
java/*
!network_capture.idl
!NetworkCapturePublisher.java
!NetworkCaptureSubscriber.java
!README.md
!USER_QOS_PROFILES.xml
!build.gradle
!Application.java

# Capture files
*.pcap

# Build directory
build/
