# Solution and project files are created by rtidddsgen
*.sln
*.vcxproj

# Java
java/
!example0.idl
!example0Publisher.java
!example0Subscriber.java
!README.md
!USER_QOS_PROFILES.xml

# Capture files
*.pcap

# Build directory
build/
