ServiceCommon.hpp
ServiceCommon.cxx
ServiceCommonPlugin.hpp
ServiceCommonPlugin.cxx
ServiceAdmin.hpp
ServiceAdmin.cxx
ServiceAdminPlugin.hpp
ServiceAdminPlugin.cxx
RecordingServiceTypes.hpp
RecordingServiceTypes.cxx
RecordingServiceTypesPlugin.hpp
RecordingServiceTypesPlugin.cxx

makefile_ServiceCommon_*
makefile_ServiceAdmin_*
makefile_RecordingServiceTypes_*

build/
