<?xml version="1.0" encoding="utf-8"?>

<!--
     This file configures dotnet to load the Rti.ConnextDds package from your
     RTI Connext installation.

     You can add this package source globally using the dotnet CLI:

         > dotnet nuget add source C:\rti\rti_connext_dds-7.3.0\bin\../lib/dotnet -n RTI

     Without this NuGet.Config file or the global source, the Rti.ConnextDds
     package is fetched by default from nuget.org.
-->
<configuration>
    <packageSources>
        <add key="local" value="C:\rti\rti_connext_dds-7.3.0\bin\../lib/dotnet" />
    </packageSources>
</configuration>
