prompt                     = no
distinguished_name         = req_distinguished_name

[ req_distinguished_name ]
countryName                = US
stateOrProvinceName        = CA
localityName               = Santa Clara
organizationName           = Real Time Innovations
commonName                 = ecdsa01Peer01
emailAddress               = ecdsa01Peer01@rti.com
