prompt=no
distinguished_name	= req_distinguished_name

[ req_distinguished_name ]
countryName=US
stateOrProvinceName=CA
localityName=Santa Clara
organizationName=Real Time Innovations
emailAddress=youdsa@rti.com
commonName=dtlsexample3dsa
