prompt=no
distinguished_name	= req_distinguished_name

[ req_distinguished_name ]
countryName=US
stateOrProvinceName=CA
# To preserve the same behavior between 'openssl ca' and 'openssl x509'
# we need to remove the localityName. The 'ca' command was silently deleting
# this field from the certificate subject because in openssl.cnf under
# 'policy_match' the field isn't required. The subjects must match with the *.p7s
# localityName=Santa Clara
organizationName=Real Time Innovations
emailAddress=youdsa@rti.com
commonName=dtlsexample2dsa
