prompt=no
distinguished_name	= req_distinguished_name

[ req_distinguished_name ]
countryName=US
stateOrProvinceName=CA
localityName=Santa Clara
organizationName=Real Time Innovations
commonName=RTI ECDSA01 (p256) PEER01
emailAddress=rticonnextdds-examples-ecdsa01Peer01@rti.com
