prompt=no
distinguished_name	= req_distinguished_name

[ req_distinguished_name ]
countryName=US
stateOrProvinceName=CA
localityName=Santa Clara
organizationName=Real Time Innovations
commonName=RTI RSA01 PEER01
emailAddress=rsa01Peer01@rti.com
