# This workflow will be triggered when a pull request is opened to the master
# branch. After being triggered, it will download the source from the branch
# to which the pull request was opened.
name: PR handler

on:
  pull_request:
    branches:
      - master

jobs:
  upload:
    runs-on: ubuntu-20.04
    name: Artifacts generation

    steps:
      # Download the source from the branch to which the pull request was
      # opened.
      - uses: actions/checkout@v3
        with:
          submodules: true

      # Save the PR number for the next workflow to create the current
      # workflow artifact along with the repository itself.
      - name: Save PR number
        run: echo ${{ github.event.number }} > ${{ github.workspace }}/NR

      # Save the PR number for the next workflow to create the current
      # workflow artifact along with the repository itself.
      - name: Save target branch
        run: echo ${{ github.base_ref }} > ${{ github.workspace }}/targetbranch

      # Upload the artifacts to GitHub so that they can be used in the next
      # workflow.
      - name: Upload generated artifact
        uses: actions/upload-artifact@v3
        with:
          name: pr
          path: |
            ${{ github.workspace }}
            !${{ github.workspace }}/resources/ci_cd
            !${{ github.workspace }}/.git
          if-no-files-found: error
